Repository kubernetes-sigs/kube-storage-version-migrator, pull requests merged in 2020-03, with the labels that each got.

#58 Harden against disruptive loss of apiserver
  cmd/migrator/migrator.go
  manifests/migrator.yaml
  manifests/namespace-rbac.yaml
  pkg/controller/kubemigrator.go
  pkg/migrator/core.go
  pkg/trigger/discovery_handler.go
  pkg/trigger/discovery_handler_test.go
  test/e2e/test-cmd.sh
  test/e2e/test-fully-automated.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#57 Fix the typo on READEME.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#62 tests/e2e: client calls missing ctx params
  test/e2e/tests/chaos.go
  test/e2e/tests/crd-migration.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#46 kubernetes-sigs --> sigs.k8s.io
  Makefile
  cmd/initializer/app/initializer.go
  cmd/initializer/initializer.go
  cmd/migrator/app/migrator.go
  cmd/migrator/migrator.go
  cmd/trigger/app/trigger.go
  cmd/trigger/trigger.go
  go.mod
  hack/update-codegen.sh
  pkg/clients/clientset/clientset.go
  pkg/clients/clientset/fake/clientset_generated.go
  pkg/clients/clientset/fake/register.go
  pkg/clients/clientset/scheme/register.go
  pkg/clients/clientset/typed/migration/v1alpha1/fake/fake_migration_client.go
  pkg/clients/clientset/typed/migration/v1alpha1/fake/fake_storagestate.go
  pkg/clients/clientset/typed/migration/v1alpha1/fake/fake_storageversionmigration.go
  pkg/clients/clientset/typed/migration/v1alpha1/migration_client.go
  pkg/clients/clientset/typed/migration/v1alpha1/storagestate.go
  pkg/clients/clientset/typed/migration/v1alpha1/storageversionmigration.go
  pkg/clients/informer/factory.go
  pkg/clients/informer/generic.go
  pkg/clients/informer/internalinterfaces/factory_interfaces.go
  pkg/clients/informer/migration/interface.go
  pkg/clients/informer/migration/v1alpha1/interface.go
  pkg/clients/informer/migration/v1alpha1/storagestate.go
  pkg/clients/informer/migration/v1alpha1/storageversionmigration.go
  pkg/clients/lister/migration/v1alpha1/storagestate.go
  pkg/clients/lister/migration/v1alpha1/storageversionmigration.go
  pkg/controller/helpers.go
  pkg/controller/indexer.go
  pkg/controller/indexer_test.go
  pkg/controller/kubemigrator.go
  pkg/initializer/initializer.go
  pkg/migrator/core.go
  pkg/migrator/core_test.go
  pkg/migrator/progress.go
  pkg/trigger/controller.go
  pkg/trigger/discovery_handler.go
  pkg/trigger/discovery_handler_test.go
  pkg/trigger/migration_handler.go
  test/e2e/e2e_test.go
  test/e2e/tests/chaos.go
  test/e2e/tests/crd-migration.go
  test/e2e/tests/setup.go
  test/e2e/util/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L
